* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// variables
// paleta de colores
$rosa: #ea00ff;
$violeta: #1b088a;
$transparenteazul: #1b088a83;


body{
    background-image: url(/images/fondo2.jpg) ;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

.link {
    margin: 10px;
    padding: 10px;
    border: 2px solid #000;
    
}
.img {
    margin: 10px;
    padding: 10px;
    border: 2px solid #000;
}
.title-1 {
    font-family: "Anton", sans-serif;
    font-weight: lighter;
    font-size: 50px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 2px $violeta;
    border: 3px solid #000000;
    border-radius: 25% 10%;
    background-color: rgba(250, 250, 250, 0.418);
    
  }
  
.title {
    text-align: center;
    font-family: cursive;
    font-size: 24px; 
    text-transform: uppercase; 
    text-shadow: 0 0 5px #000; 
  }
.subtitle {
text-align:center; 
font-family: cursive;
font-weight: bold;
font-size: 24px;   
}
.parrafo {
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;

}
.parrafo-1 {
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
    text-align: center;

}
  
.container {
border: 1px solid #000;
}
.col {
    padding-left: 0;
}
.galery {
    padding: 15px;
    background-color: none;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 180px);
    grid-gap: 15px;
    
}

.item {
    border: 2px solid rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    transition: 0.7s;
}
.item:hover {
    filter: brightness(150%);
    transform: scale(1.03);
}
.item1{
    background-image: url(/images/mojito.jpg);

}
.item2{
    background-image: url(/images/margarita.jpg);
}
.item3{
    background-image: url(/images/daiquiri.jpg);
}
.item4{
    background-image: url(/images/martini.jpg);
}
.item5{
    background-image: url(/images/old\ fashioned.jpg);
}
.item6{
    background-image: url(/images/manhattan.jpg);
}
.item7{
    background-image: url(/images/chuy-sunrise.jpg);
}
.item8{
    background-image: url(/images/banana.jpg);
    }
.item9{
    background-image: url(/images/mint.jpg);
}   
@media only screen and (min-width:480px) {
    .galery{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:repeat(3, 180px)                
    }
    .item7{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .item8{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .item9{
        grid-column: 2/3;
        grid-row: 3/4;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px) {
    .galery{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 180px)

    }
    .item7{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .item8{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .item9{
        grid-column: 3/4;
        grid-row: 1/2;
    }
}

@media only screen and (min-width:1024px) {
    .galery{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 180px);
    }
    .item1{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .item2{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .item3{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .item4{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .item5{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .item6{
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .item7{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .item8{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .item9{
        grid-column: 3/5;
        grid-row: 2/3;
    }
}
.cocktail{
    padding: 15px;
    margin: 15px;
    border: 2px solid #000;
}
.formulario{
    text-align: center;
    border: 2px solid #000;
}
.reserve-1 {
    text-align: center;
    margin: 100px;
}
.divisor {
    border-bottom: 2px solid #000;
    line-height: 0.1em; 
    margin: 20px 0; 
  }
.checkbox{
    background-color: #1b088a83;
}
@media only screen and (max-width:480px) {
    .formulario{
        margin:10px
    }
}
@media only screen and (min-width:768px) and (max-width:1024px) {
    .formulario{
        margin: 50px;
    }
}
@media only screen and (min-width:1024px) {
    .formulario{
        margin:100px
    }
}
.box2 {
    background-color: rgba(7, 3, 250, 0.363);
    border: 1px solid #000;
}
@media only  screen and (max-width:480px) {

}
@media only  screen and (max-width:480px) {

}
@media only  screen and (max-width:480px) {

}
.map {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.coctelera {
    width: 100px;
    height: 150px;
    position: relative;
    margin: 50px auto;
    animation: agitar 0.5s ease infinite alternate;
    background-image: url(/images/coctelera.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.parte-superior,
.parte-inferior {
    width: 100%;
    height: 10px;
    background-color: silver;
    position: absolute;
}

.parte-superior,
.parte-inferior {
    display: none;
}


@keyframes agitar {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}
